* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  width: 0;
}
*::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #959494;
}
*::-webkit-scrollbar-track {
  background-color: aliceblue;
}

html,
body {
  height: 100vh;
}
body {
  background-color: rgb(10, 10, 72);
  color: white;
  display: flex;
  flex-direction: column;

  height: 100%;
}
